# pandas 1

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv('nyc_weather.csv',parse_dates=['EST'])#parse_dates convert string data-type into date
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277

In [14]:
df.Temperature.max()

50

In [15]:
df['EST'][df['Events']=='Rain']

8    2016-01-09
9    2016-01-10
15   2016-01-16
26   2016-01-27
Name: EST, dtype: datetime64[ns]

In [16]:
df.WindSpeedMPH=df.WindSpeedMPH.fillna(0)
df['WindSpeedMPH'].mean()

6.225806451612903

# pandas 2

In [17]:
address=[{
    "name":"deep",
    "city":"gurgaon"
},
{
    "name":"deep1",
    "city":"noida"
}
]
df1=pd.DataFrame(address)
df1

    name     city
0   deep  gurgaon
1  deep1    noida

In [18]:
#df.Events=df.Events.fillna('Sunny')
df[['EST','Temperature','Events']].head()

         EST  Temperature Events
0 2016-01-01           38    NaN
1 2016-01-02           36    NaN
2 2016-01-03           40    NaN
3 2016-01-04           25    NaN
4 2016-01-05           20    NaN

In [19]:
df[['EST','Temperature']][df['Temperature']>30] #option 1
df[df.Temperature>30] #option 2
df[df.Temperature==df.Temperature.max()] # for getting max temp record

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109

In [20]:
weather_data=[
    ('1/1/2019',32.6,'sunny'),
    ('1/1/2020',-9,'snowfall')
]
df_tuple=pd.DataFrame(weather_data,columns=['date','temperature','events'])

In [21]:
df.set_index('EST',inplace=True)#inplace=True modify current dataframe

In [28]:
new_df=df.fillna({
    'Events':'Sunny'
})
new_df=new_df.fillna(method='ffill')

In [29]:
new_df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,Sunny,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,Sunny,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,Sunny,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,Sunny,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,Sunny,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,Sunny,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,Sunny,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,Sunny,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,0.0,0,1,Sunny,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Sunny,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Sunny,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Sunny,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Sunny,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Sunny,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Sunny,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Sunny,312
2016-01-22,26,6,41,30.21,9,0.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Sunny,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Sunny,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,Sunny,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,Sunny,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,Sunny,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,Sunny,241