# pandas 1

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('nyc_weather.csv',parse_dates=['EST'])#parse_dates convert string data-type into date
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
1,2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277

In [10]:
df.Temperature.max()

50

In [11]:
df['EST'][df['Events']=='Rain']

8    2016-01-09
9    2016-01-10
15   2016-01-16
26   2016-01-27
Name: EST, dtype: datetime64[ns]

In [12]:
df.WindSpeedMPH=df.WindSpeedMPH.fillna(0)
df['WindSpeedMPH'].mean()

6.225806451612903

# pandas 2

In [13]:
address=[{
    "name":"deep",
    "city":"gurgaon"
},
{
    "name":"deep1",
    "city":"noida"
}
]
df1=pd.DataFrame(address)
df1

    name     city
0   deep  gurgaon
1  deep1    noida

In [14]:
#df.Events=df.Events.fillna('Sunny')
df[['EST','Temperature','Events']].head()

         EST  Temperature Events
0 2016-01-01           38    NaN
1 2016-01-02           36    NaN
2 2016-01-03           40    NaN
3 2016-01-04           25    NaN
4 2016-01-05           20    NaN

In [15]:
df[['EST','Temperature']][df['Temperature']>30] #option 1
df[df.Temperature>30] #option 2
df[df.Temperature==df.Temperature.max()] # for getting max temp record

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
9,2016-01-10,50,46,71,29.59,4,0.0,1.8,7,Rain,109

In [16]:
weather_data=[
    ('1/1/2019',32.6,'sunny'),
    ('1/1/2020',-9,'snowfall')
]
df_tuple=pd.DataFrame(weather_data,columns=['date','temperature','events'])

In [17]:
df.set_index('EST',inplace=True)#inplace=True modify current dataframe

In [18]:
new_df=df.fillna({
    'Events':'Sunny'
})
new_df=new_df.fillna(method='ffill')

In [29]:
new_df.head(3)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,Sunny,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,Sunny,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,Sunny,277

# plotly

In [36]:
import plotly
import plotly.graph_objs as go

# Create random data with numpy
import numpy as np

N = 100
random_x = new_df.index
random_y = new_df.Temperature
random_y1 = new_df.Humidity
random_y2 = new_df['Sea Level PressureIn']

# Create a trace
Temperature = go.Scatter(
    x = random_x,
    y = random_y,
    mode = 'markers',
    name="Temperature"
    
)
Humidity = go.Scatter(
    x = random_x,
    y = random_y1,
    mode = 'lines',
    name="Humidity"
)
Sea_Level_PressureIn = go.Scatter(
    x = random_x,
    y = random_y2,
    mode = 'lines+markers',
    name="Sea Level PressureIn"
)
data = [Temperature,Humidity,Sea_Level_PressureIn]

# Plot and embed in ipython notebook!
plotly.offline.plot(data, filename='basic-scatter.html')

'basic-scatter.html'

PlotlyError: The `figure_or_data` positional argument must be `dict`-like, `list`-like, or an instance of plotly.graph_objs.Figure